:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 100;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #1B2735;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --white: #fff;

}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

.d-flex {
  display: flex;
}

.justify-space {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start; 
}

.flex-column {
  flex-direction: column;
}

h1,
h2 {
  margin: 0;
}

.burger-btn {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 1.5rem;
}

.burger-line {
  width: 50px;
  height: 5px;
  background: var(--white);
  margin: 10px 0;
}

.show-nav {
  display: block;
  position: absolute;
  top: 80px;
  left: 24px;
  right: 24px;
  border-radius: 10px;
  background: #fff;
  z-index: 1;
}

nav {
  padding: 1rem 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.experience-list {
  float: left;
  width: 18%;
}

.titleLinks {
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}


.home-container {
  min-height: 70vh;
}

.projects-container {
  gap: 5rem;
  width: 100%;
  min-height: 70vh;
  padding: 2rem;
  font-size: 1rem;
}

.project-item {
  border-radius: 10px;
  border: 1px solid;
  min-height: 12rem;
  min-width: 18rem;
}

.proyectURL {
  text-decoration: none;
  color: var(--white);
  border-radius: 1rem;
}


.experience-container {
  padding: 2rem;
  gap: 1rem;
}

.experience-item {
  padding: 1rem;
  border: 1px solid;
  border-radius: 10px;
  min-height: 36rem;
}

.experienceLink {
  text-decoration: none;
  color: var(--white);
  width: 20%;
}
.personalImg {
  border-radius: 100%;
  height: 10%;
  width: 10%;
}

.linksContainer {
  width: 10%;
}

.linkslImg,
.logoImg,
.proyectImg {
  width: 5rem;
}


@media only screen and (max-width: 767px) {

  nav {
    display: none;
  }

  .burger-btn {
    display: block; /* Muestra el botón de hamburguesa en pantallas más pequeñas */
  }

  .personalImg {
      width: 50%;
  }

  .linksContainer {
      width: 100%;
      gap: 1rem;
  }

  .justify-space {
    justify-content: center;
  }

  .experience-item {
    margin-bottom: 1rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .experience-group {
    flex-direction: column;
  }

  .experience-list {
    width: 100%;
  }

  .titleLinks {
    color: #1B2735
  }
}

